<!DOCTYPE html>
<html lang="eua">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresar Agendamiento</title>
    <!-- Font awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <!-- Custom CSS-->
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <script> src="main.js"</script>
    <div class="container">
        <nav class="nav-main">
            <h1>Imperial Puppies</h1>
            <ul class="nav-menu">
                <li>
                    <a href="/src/index.html">Inicio</a>
                </li>
                <li>
                    <a href="/src/registro.html">Registro</a>
                </li>
                <li>
                    <a href="/src/planes.html">Planes</a>
                </li>
                <li>
                    <a href="/src/informe.html">Informes</a>
                </li>
                <li>
                    <a href="/src/Configuraciones.html">Configuraciones</a>
                </li>
            </ul>
            <ul class="nav_menu-right">
                <li>
                    <a href="#"> 
                        <i class="fas fa-search"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- Ingresar Datos -->
        <div class="ingresoDatos">
        <!-- #region <img src="/img/portada.png" alt="portada" > --> 
            <form action="/" class="formulario" >
                <h1 class="title">Ingresar Propietario</h1>
                <!-- FALA TIPODOC QUE ES COMBO BOX-->
                <div class="input-Control">
                    <label for="Nit Agendamiento">Nit Agendamiento</label>
                    <input id="nitAgenda" name="nitAgenda" type="text" required>
                    <small>Error Messenge</small>
                </div>
                <div class="input-Control">
                    <label for="Numero Documento de la persona">Numero Documento de la persona</label>
                    <input id="NumDocPers" name="NumDocPers" type="text" required>
                    <small>Error Messenge</small>
                </div>
                <div class="input-Control">
                    <label for="Numero Documento de la mascota">Numero Documento de la mascota</label>
                    <input id="NumDocMas" name="NumDocMas" type="text"required>
                    <small>Error Messenge</small>
                </div>
                <div class="input-Control">
                    <label for="Fecha de Visita"> Fecha de Visita</label>
                    <input id="fechaVisita" name="fechaVisita" type="date"required>
                    <small>Error Messenge</small>
                </div>
                <div class="input-Control">
                    <label for="Hora Visita">Hora Visita</label>
                    <input id="horaVisi" name="horVisi" type="time" required>
                    <small>Error Messenge</small>
                </div>
                <!-- falta medio Pago que es listaDesplegable-->
                <h4>Plan a adquirir</h4>
                <div class="radio" id="Planes">
                    <label for="Plan1">Plan 1</label>
                    <input id="Plan1" name="Plan1" type="radio" >
                    <label for="Plan2">Plan 2</label>
                    <input id="Plan2" name="condiPlan2" type="radio" >
                    <label for="Plan3">Plan 3</label>
                    <input id="Plan3" name="Plan3" type="radio" >
                    <label for="Plan4">Plan 4</label>
                    <input id="Plan4" name="Plan4" type="radio" >
                    <small>Error Messenge</small>
                </div>
                <h4>Necesitas Servicio a tu Casa?</h4>
                    <div class="radio" id="ServicioCasa">
                    <label for="Si">Si</label>
                    <input id="condiSi" name="condiSi" type="radio" >
                    <label for="No">No</label>
                    <input id="condiNo" name="condiNo" type="radio" >
                    <small>Error Messenge</small>>
                </div>
                <button id="buttonIngre">Ingresar</button>
                <button id="buttonCance">Cancelar</button>

            </form>
        </div>
        <!-- Contactos-->
        <section class="social">
            <p>Siguenos En Nuestras Redes Sociales o Escribenos Nosotros Te Asesoramos</p>
            <p>TE ESPERAMOS A TI Y A TU PELUDITO</p>
            <div class="links">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-telegram"></i></a>
                <a href="#"><i class="fab fa-whatsapp"></i></a>
                <a href="#"><i class="fab fa-tiktok"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </section>
    </div>
</body>
</html>